<%= render 'components/banner' %>


<div class="container m-10">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card rounded-lg">
            <img src="https://cdn.pixabay.com/photo/2016/11/23/14/49/alcohol-1853327_960_720.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-uppercase text-center "><%= cocktail.name %></h5>
              <div>
                <p><%= link_to 'See more', cocktail_path(cocktail), class: "btn btn-primary btn-sm btn-block" %></p>
                <p> <%= link_to 'Delete', cocktail_path(cocktail), confirm: 'Are you sure? shadow-lg', method: :delete, class:"btn btn-danger btn-sm btn-block" %></p>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
